@page "/"
@using DataHandler
@inject DataStorage dataStorage
@implements IDisposable

<h1>Aktueller Zustand</h1>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Zeit</th>
                <th>Kessel</th>
                <th>Boiler 1</th>
                <th>Puffer oben</th>
                <th>Puffer unten</th>
                <th>Aussen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@data.DatumZeit.Value.ToString("dd.MM.yyyy HH:mm:ss")</td>
                <td>@data.Kessel.GetString("°C")</td>
                <td>@data.Boiler_1.GetString("°C")</td>
                <td>@data.Puffer_Oben.GetString("°C")</td>
                <td>@data.Puffer_Unten.GetString("°C")</td>
                <td>@data.Aussen.GetString("°C")</td>
            </tr>
        </tbody>
    </table>
}

@functions{
    private Action newDataReceived;
    private Data data;

    protected override void OnInit()
    {
        newDataReceived = () =>
        {
            data = dataStorage.CurrentData;
            base.Invoke(base.StateHasChanged);
        };

        dataStorage.NewDataReceived += newDataReceived;

        newDataReceived();
        base.OnInit();
    }

    public void Dispose() {
        dataStorage.NewDataReceived -= newDataReceived;
    }
}